/* Add CSS Styling */
.odd {
  background-color: rgb(218, 156, 161);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
  color: rgb(1, 1, 177);
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: rgb(102, 228, 129);
  font-size: 24px;
  font-weight: bold;
}
