/* Add CSS Styling */
.first,
.second {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", sans-serif;
}

.first {
  background-color: #000;
  color: hsl(0, 100%, 100%);
}

.second {
  background-color: hsl(61, 100%, 50%);
}
