body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  height: 200px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 12px 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
  border: 5px;
  text-align: center;
  display: block;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
}
